

  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Gloock&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        
       justify-content: center;
       align-items: center;
       min-height: 100vh;
       display: flex;

}
.card{
    position: relative;
    width: 650px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 20px;
    background: linear-gradient(135deg, rgb(34, 92, 218),rgb(255, 0, 21));
    box-shadow: 10px 15px 35px rgba(0, 0, 0, 0.5);
}
.card img{
    position: absolute;
    width: 50%;
    height: 60%;
    transition: 1s;
    border-radius: 20px;
    bottom: 0;
    transform: translateX(0%) ;
    z-index: 2;
}
.card:hover img{
    left: 35%;
    height: 550px;
    width: 550px;
}
.card .content{
    padding-top: 100px;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    left:-1%;
    transition: 0.8s;
    width: 55%;
    opacity: 0;
    visibility: hidden;
}
.card:hover .content{
   bottom: 30%;
    opacity : 1;
    visibility: visible;
    padding-left: 20px;
    margin-top: 30px;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    
font-family: 'Dancing Script', cursive;

}
.card .content h1{
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-left: 20px;
    color: #fff;
    font-family: 'Croissant One', cursive;
font-family: 'Gloock', serif;
}
.card .content p{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    padding-left: 20px;
}
.btn:hover{
    background: #177cf0;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px 8px;
    text-decoration: none;
    padding-left: 10px;
}
.btn{
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 1px 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.5s;
    padding-left: 10px;
    text-align: center;
    margin-left: 20px;
}
@media  (max-width: 900px){
    .card{
        width: 500px;
        height: 400px;
    }
    .card img{
        width: 50%;
        height: 60%;
    }
    .card .content{
        width: 55%;
    }
}

